.category-boxes,
.category-boxes-with-topics {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  .category-box {
    @include custom-card;

    // stylelint-disable-next-line no-duplicate-selectors
    & {
      border-top: 1px solid transparent;
      border-right: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-left: 6px solid var(--hp-category-badge-color);
    }

    .discourse-no-touch & {
      &:hover {
        border: 1px solid var(--redditish-border-color);
        box-shadow: 0px 3px 6px 0px rgba(21, 21, 21, 0.08);
      }
    }

    .category-box-inner {
      border: none;
    }

    .category-box-inner {
      border: none;
    }

    .subcategories .subcategory {
      margin-bottom: 0.25em;
    }
  }
}
