.category-boxes,
.category-boxes-with-topics {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  .category-box {
    @include custom-card;
    .category-box-inner {
      border: none;
    }
  }

  .category-box {
    border: 1px solid var(--redditish-border-color);
    box-shadow: 0px 1px 2px 0px rgba(21, 21, 21, 0.08);

    .discourse-no-touch & {
      &:hover {
        border: 1px solid var(--redditish-border-color);
        box-shadow: 0px 3px 6px 0px rgba(21, 21, 21, 0.08);
      }
    }

    .subcategories .subcategory {
      margin-bottom: 0.25em;
    }
  }
}
