$redditish-light-bg: rgb(240, 244, 248, 1);
$redditish-border-color-light: $primary-low-mid;
$redditish-border-color-dark: $primary-very-low;
$redditish-border-highlight-color-light: $primary-600;
$redditish-border-highlight-color-dark: $primary-300;
$redditish-border-color: $primary-low !default;
$redditish-border-highlight-color: $primary-200 !default;

@if is-light-color-scheme() {
  $redditish-border-color: $redditish-border-color-light;
} @else {
  $redditish-border-color: $redditish-border-color-dark;
}

@if is-light-color-scheme() {
  $redditish-border-highlight-color: $redditish-border-highlight-color-light;
} @else {
  $redditish-border-highlight-color: $redditish-border-highlight-color-dark;
}

/* Overrides for HP colours */
$redditish-background-color: rgb(240, 244, 248, 1);
$redditish-header-bg-color: rgb(240, 244, 248, 1);
$redditish-border-color: rgb(205, 215, 225, 1);
$box-shadow-default: 0px 2px 4px 0px rgb(21, 21, 21, 0.08);
$box-shadow-hover: 0px 1px 2px 0px rgb(21, 21, 21, 0.08);

:root {
  --redditish-bg-color: #{$redditish-background-color};
  --redditish-header-bg-color: #{$redditish-header-bg-color};
  --redditish-border-color: #{$redditish-border-color};
  --redditish-border-highlight-color: #{$redditish-border-highlight-color};
  --box-shadow-default: #{$box-shadow-default};
  --box-shadow-hover: #{$box-shadow-hover};
}
