/* HealthPathway Color Palette */
$hp-navy: #0B213B;
$hp-blue: #76ADE4;
$hp-almond: #E6E0DB;
$hp-white: #F8F5F0;
$hp-black: #141414;

/* HealthPathway Color Variables */
$redditish-light-bg: $hp-white;
$redditish-border-color-light: $hp-almond;
$redditish-border-color-dark: $hp-almond;
$redditish-border-highlight-color-light: $hp-blue;
$redditish-border-highlight-color-dark: $hp-blue;
$redditish-border-color: $hp-almond !default;
$redditish-border-highlight-color: $hp-blue !default;

@if is-light-color-scheme() {
  $redditish-border-color: $redditish-border-color-light;
} @else {
  $redditish-border-color: $redditish-border-color-dark;
}

@if is-light-color-scheme() {
  $redditish-border-highlight-color: $redditish-border-highlight-color-light;
} @else {
  $redditish-border-highlight-color: $redditish-border-highlight-color-dark;
}

/* HealthPathway Theme Colors */
$redditish-background-color: $hp-white;
$redditish-header-bg-color: $hp-white;
$box-shadow-default: 0px 2px 4px 0px rgba(11, 33, 59, 0.08);
$box-shadow-hover: 0px 1px 2px 0px rgba(11, 33, 59, 0.08);

:root {
  --redditish-bg-color: #{$redditish-background-color};
  --redditish-header-bg-color: #{$redditish-header-bg-color};
  --redditish-border-color: #{$redditish-border-color};
  --redditish-border-highlight-color: #{$redditish-border-highlight-color};
  --box-shadow-default: #{$box-shadow-default};
  --box-shadow-hover: #{$box-shadow-hover};
  --hp-navy: #{$hp-navy};
  --hp-blue: #{$hp-blue};
  --hp-almond: #{$hp-almond};
  --hp-white: #{$hp-white};
  --hp-black: #{$hp-black};
}
