:root {
  --d-button-border-radius: 4px;
  --d-nav-pill-border-radius: 4px;
  --d-input-border-radius: 4px;
  --topic-body-width: 900px;
}

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

body {
  font-family: Roboto, sans-serif;
  background: var(--redditish-bg-color);
  background-image: none !important; /* overrides category bg because we use it for banners instead */

  &:not(.has-sidebar-page) {
    .sidebar-wrapper {
      background: var(--redditish-bg-color);
    }
  }

  /* pepesilva.jpg */
  &.tags-page,
  &[class*="navigation-"]:not([class*="archetype-"]),
  &[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      grid-template-areas:
        "category-banner category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";
      grid-template-columns:
        var(--d-sidebar-width) 1fr minmax(0, 640px)
        312px 1fr var(--d-sidebar-width);
      grid-template-rows: auto 1fr;
      gap: 0 1.5em;

      @media screen and (max-width: 1500px) {
        grid-template-columns: auto 1fr minmax(0, 640px) 312px 1fr auto;
      }

      @media screen and (max-width: 1160px) {
        .custom-right-sidebar {
          display: none;
        }
        grid-template-areas:
          "category-banner category-banner category-banner category-banner category-banner"
          "sidebar lspace content rspace sidebar-spacer";
        grid-template-columns: auto 1fr minmax(0, 640px) 1fr auto;
      }

      @media screen and (max-width: 768px) {
        gap: 0.5em;
      }
    }
  }

  &.has-sidebar-page.tags-page,
  &.has-sidebar-page[class*="navigation-"]:not([class*="archetype-"]),
  &.has-sidebar-page[class*="category-"]:not([class*="archetype-"]) {
    #main-outlet-wrapper {
      grid-template-areas:
        "sidebar category-banner category-banner category-banner category-banner category-banner"
        "sidebar lspace content sidebar2 rspace sidebar-spacer";

      @media screen and (max-width: 1160px) {
        .custom-right-sidebar {
          display: none;
        }
        grid-template-areas:
          "sidebar category-banner category-banner category-banner category-banner"
          "sidebar lspace content rspace sidebar-spacer";
        grid-template-columns: auto 1fr minmax(0, 640px) 1fr auto;
      }
    }
  }

  &[class*="user-"],
  &.archetype-regular {
    .custom-tag-banner,
    .custom-category-banner,
    .custom-right-sidebar {
      display: none;
    }
  }
}

@mixin custom-card {
  box-sizing: border-box;
  padding: 0.75em;
  border-radius: 0.5em;
  border: 1px solid var(--redditish-border-color);
  background: var(--secondary);
  box-shadow: 0 1px 2px 0 rgba(21, 21, 21, 0.08);

  .discourse-no-touch & {
    &:hover {
      box-shadow: 0 2px 4px 0 rgba(21, 21, 21, 0.08);
    }
  }
}

@mixin custom-topic-width {
  width: calc(100% - 8em);

  @media screen and (max-width: 924px) {
    width: 100%;
  }
}

@import "badges";
@import "categories";
@import "category-banner";
@import "category-boxes";
@import "chat";
@import "composer";
@import "groups";
@import "header";
@import "right-sidebar";
@import "search";
@import "select-kit";
@import "tag";
@import "topic";
@import "topic-list";
@import "user";

.sidebar-section-link-wrapper {
  .sidebar-section-link {
    &[data-link-name="docs"] {
      display: none;
    }
  }
}

#main-outlet {
  max-width: 640px;
  margin: 0 auto;
  grid-area: content;
  padding-bottom: 2em;
}

#banner {
  @include custom-card;
}

.sidebar-wrapper .sidebar-container {
  border-right: 1px solid rgba(99, 107, 116, 0.3);
}

.sidebar-section-wrapper
  .sidebar-section-header.sidebar-section-header-collapsable {
  padding-left: 0;
}

.sidebar-section-link-wrapper button {
  border-radius: 0;
  padding: 0 var(--d-sidebar-row-horizontal-padding) !important; // overrides button specificity
}

.sidebar-section-wrapper.sidebar-section[data-section-name="categories"] {
  display: none;
}

.sidebar-section-wrapper.sidebar-section[data-section-name="tags"] {
  display: none;
}

.sidebar-wrapper {
  .sidebar-custom-sections {
    display: contents;
  }

  [data-section-name="community"] {
    order: -6;
  }

  [data-section-name="global"] {
    order: -5;
  }

  [data-section-name="australia"] {
    order: -4;
  }

  [data-section-name="england"] {
    order: -3;
  }

  [data-section-name="new-zealand"] {
    order: -2;
  }

  [data-section-name="wales"] {
    order: -1;
  }
}

.add-to-sidebar {
  .d-icon-star {
    color: var(--tertiary);
  }
}

.admin-content {
  @include custom-card;
}

.body-page {
  @include custom-card;
}

.powered-by-discourse {
  border: 1px solid var(--primary-500);
  grid-area: content;
  align-self: end;
}

html.composer-open #main-outlet {
  padding-bottom: var(--composer-height);
}

.admin-customize .themes-list-container {
  border-radius: 4px !important;
}

.alert {
  border-radius: 4px !important;
}

.btn-default,
.btn-primary,
.btn {
  &:not(.btn-icon, [class*="popup-menu-btn"]) {
    padding: 0.5em 1em;
    margin: 0.1em;
  }
}

.btn[class*="popup-menu-btn"] {
  border: none;
}

.popup-menu {
  padding: 0.25em;
}
