$sidebar-width: #{$sidebar_width}em;

.wrap {
  max-width: unset; // undoing core default
}

// .d-header #site-logo {
//   // constraining the logo to fit its container
//   // this prevents the logo from shifting header content
//   // when the sidebar is opened
//   max-height: 100%;
//   max-width: 100%;
//   object-fit: contain; // contains logo without squishing/stretching
// }

#main-outlet-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

  .sidebar-wrapper {
    width: 100%; // safari has issues without this
  }

  #main-outlet {
    margin: 0 auto;
    max-width: var(--d-max-width);
    width: 100%;

    body.has-full-page-chat & {
      max-width: unset;
    }
  }

  body.has-sidebar-page & {
    .sidebar-wrapper {
      width: var(--d-sidebar-width);
    }
  }

  body.has-full-page-chat & {
    flex: 1;
    gap: 0;
  }
}

.has-full-page-chat:not(.discourse-sidebar) .full-page-chat {
  border: none;
}

#main-outlet > .regular {
  max-width: var(--d-max-width);
  margin: 0 auto;

  body.has-sidebar-page & {
    margin: 0 auto;
  }
}

.d-header .title:not(.title--minimized) {
  // allowing overflow here isn't always ideal
  // but works well enough most of the time
  overflow: visible;
}

.d-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: z("header");
  background-color: var(--header_background);
  box-shadow: var(--shadow-header);
  backface-visibility: hidden; /** do magic for scrolling performance **/

  > .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .contents {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;

      .header-row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .logo-wrapper {
          display: flex;
          align-items: center;
        }

        .auth-buttons {
          display: flex;
          align-items: center;
          margin-top: 0.4em;

          .login-button,
          .signup-button {
            padding: 8px 14px;
          }
        }
      }

      .d-header-mode {
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include breakpoint("tablet") {
          display: none;
        }
      }
    }

    .title {
      --d-logo-height: 2.667em;
      display: flex;
      align-items: center;
      height: 100%;
      animation: fadein 0.5s;
      // min-width acts as a placeholder if the small logo takes a while to load
      // it prevents topic title from shifting after the small logo loads
      // it's set to match the #site-logo height so square small logos don't resize when titles dock
      min-width: var(--d-logo-height);

      a,
      a:visited {
        color: var(--header_primary);
      }

      &:not(.title--minimized) {
        // allows large logos to be hidden if there are too many other header elements
        // this prioritizes nav elements, especially in cases of high zoom levels
        overflow: hidden;
      }
    }

    .home-logo-wrapper-outlet {
      display: flex;
      align-items: center;
      margin-left: 3.7em; // 2.7em hamburger width + 1em for margin
      margin-right: 0.725em;

      .title {
        flex: 1 0 auto;
      }
    }

    .header-sidebar-toggle {
      display: flex;
      align-items: center;
    }

    .before-header-panel-outlet {
      display: flex;
      align-items: center;
    }
  }

  .panel {
    display: flex;
    align-items: center;
  }
}

.extra-info-wrapper {
  max-width: var(--d-max-width);
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}

body.has-sidebar-page {
  .wrap {
    max-width: unset; // undoing core default
  }

  .d-header-mode,
  .extra-info-wrapper {
    padding: 0;
  }

  @media screen and (min-width: calc($reply-area-max-width + ($sidebar-width * 2))) {
    #reply-control.show-preview {
      margin-left: auto;
      margin-right: auto;
    }
    .sidebar-container {
      height: auto;
    }
  }

  @media screen and (max-width: calc($reply-area-max-width + ($sidebar-width * 2))) and (min-width: calc($reply-area-max-width + calc($sidebar-width / 2))) {
    #reply-control.show-preview:not(.fullscreen) {
      margin-left: $sidebar-width;
      width: auto;
      //overruling new core composer changes
      max-width: $reply-area-max-width;
      transform: none;
    }
    .sidebar-container {
      height: auto;
    }
  }

  //overruling new core composer changes
  @media screen and (min-width: $reply-area-max-width) {
    #reply-control.show-preview:not(.fullscreen) {
      max-width: $reply-area-max-width;
      transform: none;
    }
  }
}

body.sidebar-animate {
  #main-outlet-wrapper {
    transition: none;
  }
  .d-header-wrap .wrap {
    transition: none;
  }
}

.d-header-icons {
  display: flex;
}

.rtl {
  .d-header .title {
    margin-right: 3.7em; // 2.7em hamburger width + 1em for margin
    margin-left: 0.725em;
  }
}
